:root {
  --light-color: white;
  --background-primary-color: #2b131e;
  --background-secondary-color: #3A3042;
  --primary-color: #eed5ca;
  --secondary-color: #e7b65c;
  --tertiary-color: #724e20;
  --dark-color: #d1a992;
  --displayMode: visible
}


html {
  display: block;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, var(--background-primary-color), var(--background-secondary-color));
}

h1{
  font-size:60px;
  padding-top:100px;
  color:var(--light-color);

}

h1.shadow {
  position: absolute;
  min-width: none;
  white-space: nowrap;
  top:20px;
  padding: 0%;
  color: var(--light-color);
  z-index: -1;
  font-size: 200px;
  opacity: 7%;
}

h2 {
  border-bottom:2px solid var(--tertiary-color);
  padding-top:40px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: var(--primary-color)
}

h3 {
  
  font-size: 28px;
}

p{
  font-size:24px;
}
.blurb {
  position: absolute;
  max-width: 25%;
  bottom:25%;
  &#left-blurb{
    left:4%;
  }
  &#right-blurb{
    right:4%;
    h2{
      text-align: right;
    }
  }

  p {
    color:var(--dark-color);
    text-align: justify;
  }

}

#height {
  padding-top:20px;
  padding-bottom:20px;

}

/* <weight>: Use a value from 400 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

.playfair-display-normal {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-heavy {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.playfair-display-italic {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.hideable {
  visibility: var(--displayMode);
}

#signature {
  position: absolute;
  right: 30px;
  bottom:10px;
  max-width: 24%;
  text-align: right;
  color:var(--primary-color)
}

#display-info {
  position: absolute;
  left: 30px;
  bottom:10px;
  max-width: 24%;
  text-align: left;
  color:var(--primary-color)
}

#shadow{
  content: "";
  position: absolute;
  top:47.6vh;
  width: 24.8em;
  height: 30em;
  z-index: 1;
  background-image: linear-gradient(to right, rgba(87, 52, 7, 0.7) 0%, rgba(1,1,1,0) 50%, rgba(87, 52, 7, 0.7) 100%);
}


@font-face{
  font-family: Masonic;
  src: url("Masonic Cipher.ttf");
}

@property --offset {
  syntax: "<number>";
  inherits: true;
  initial-value: -200;
}



/* @property --brightness {
  syntax: "<number>";
  inherits: true;
  initial-value: 0.5;
} */

/* input:valid {
    background-color: #a4ebca;
} */

#input1 {
visibility: var(--displayMode);
position: absolute;
bottom:10vh;
left:50%;
transform: translateX(-50%);
color:white;
padding: 12px 12px;

font-size: 30px;
line-height: 1.5;
background-color: rgba(181, 126, 55,0.2);
backdrop-filter: blur(10px);
border: 3px transparent;
border-bottom: 4px solid var(--light-color);
outline: none;
z-index: 12;

box-sizing: border-box;
min-width: 30px;

transition: width 1s background-color 0.5s;;
}


#input1:focus {
  transition: border-color 0.5s;
  border-color: var(--background-secondary-color);
}


#input1.shake {
  background-color:rgba(181, 126, 55,0.5);
  transition: background-color 0.5s;;
  color:var(--light-color);
  animation: shake 0.7s ease-in-out;
}


.width-tester {
    position: absolute;
    left: -9999px;
    top: auto;
    visibility: hidden;

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    white-space: nowrap;
    padding: 0;
    border: none;
}

/*=================== 3d bull ===================*/

#legible {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* :root{
  --offset: -200;
} */

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #fff;
  min-height: 20vh;
  display: grid;
  place-items: center;
  overflow: hidden;

  
}

.scene, .texts, .text {
    transform-style: preserve-3d;
}

.scene {
  
  transform: translateZ(-1000px)
  translateY(55vh);
  position: absolute;
  
  
  * { position: absolute; }
}

.texts {
  font-size: 6vmin;
  will-change: transform;
  animation: texts 12s infinite linear;

  &::after {
    content: "";
    z-index: 99;
    width: 10em;
    
    position: absolute;
    inset: -8.5em -5em;
    background-image: linear-gradient(90deg,var(--tertiary-color) 0%, var(--secondary-color) 50%, var(--tertiary-color) 100%);
    opacity: 1;
    
    backdrop-filter: blur(10px);
    
  }
}

.text {
  animation: text 20s calc(var(--text) * -2s) infinite linear;
  color: white;
  
  will-change: transform;

  
  span {
    transition: --offset 0.5s cubic-bezier(0.33,1,0.68,1);
    /* font-family: Masonic; */
    opacity: var(--brightness);
    padding-top:0px;
    margin-top:0px;
    /* background-color: blue; */
    will-change: transform;
    backface-visibility: visible;
    inset: -1em;
    display: grid;
    place-items: center;
    font-weight: 700;
    user-select: none;
    transform:
      
      translateY(calc((var(--i) - var(--offset)) * -0.025em))
      rotateY(calc(var(--i) * 7deg)) /* letter spacing */
      /* spiral radius */
      translateZ(calc(1 * 5em))
      /* char rotate */
      rotateZ(-2deg);
  }
}

@keyframes texts {
  from { transform: rotateZ(0deg) rotateX(00deg) rotateZ(360deg); }
  to { transform: rotateZ(360deg) rotateX(00deg) rotateZ(0deg); }
}

@keyframes text {
  to { rotate: y -1turn; }
}

@keyframes offset-scroll{
  from { --offset: 0; }
  to   { --offset: 100;}
}

@keyframes shake {
  0%   { transform: translateX(-50%); }
  15%  { transform: translateX(-58%); }
  30%  { transform: translateX(-42%); }
  45%  { transform: translateX(-56%); }
  60%  { transform: translateX(-44%); }
  75%  { transform: translateX(-53%); }
  90%  { transform: translateX(-47%); }
  100% { transform: translateX(-50%); }
}