@import url("https://fonts.googleapis.com/css?family=Roboto: 700");

*{
  font-family: Verdana, sans-serif;
}


h1{
  
  padding-top:5%;
  padding-bottom: 4%;
  font-family: Verdana, sans-serif;
}

h3 {
  position: absolute;
  top:5%;
  z-index: -1;
  font-size: 200px;
  opacity: 7%;
}

h2 {

  padding:5%;
    color: rgb(216, 189, 228)
}

html {
  display: block;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgb(57, 55, 180), rgb(90, 75, 228), rgb(194, 104, 236));
}


@font-face{
  font-family: Masonic;
  src: url("Masonic Cipher.ttf");
}

@property --offset {
  syntax: "<number>";
  inherits: true;
  initial-value: -200;
}

/* @property --brightness {
  syntax: "<number>";
  inherits: true;
  initial-value: 0.5;
} */

/* input:valid {
    background-color: #a4ebca;
} */

#input1 {
padding: 10px 12px;
font-size: 24px;
line-height: 1.5;
border: 2px solid #ddd;
border-radius: 12px;
outline: none;
z-index: 12;

box-sizing: border-box;
min-width: 24px;
transition: border-color 0.5s;
transition: width 1s;
transition: background-color 0.5s;
}

#input1:focus {
    border-color: #2196f3;
}

.width-tester {
    position: absolute;
    left: -9999px;
    top: auto;
    visibility: hidden;

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    white-space: nowrap;
    padding: 0;
    border: none;
}

/*=================== 3d bull ===================*/

#legible {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* :root{
  --offset: -200;
} */

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #fff;
  min-height: 20vh;
  display: grid;
  place-items: center;
  overflow: hidden;

  
}

.perspective-wrapper{
  perspective: 100px;
  perspective-origin: 50% 800%;
  width:100%;
  height:100%;
  position:absolute;

  mask-image: linear-gradient(
    to bottom,
    black 60%,
    transparent 100%
  );

  height: 60vh;
  overflow: hidden;
}

.scene, .texts, .text {
    transform-style: preserve-3d;
}

.scene {
  
  transform: translateZ(-1000px)
  translateY(70vh);
  position: absolute;
  
  
  * { position: absolute; }
}

.texts {
  font-size: 6vmin;
  will-change: transform;
  animation: texts 12s infinite linear;

  &::after {
    content: "";
    z-index: 99;
    width: 10em;
    
    position: absolute;
    inset: -8.5em -5em;
    background-image: linear-gradient(90deg,rgba(58, 55, 181, 1) 0%, rgba(151, 109, 207, 1) 50%, rgba(58, 55, 181, 1) 100%);
    opacity: 1;
    
    backdrop-filter: blur(10px);
    
  }
}

.text {
  animation: text 20s calc(var(--text) * -2s) infinite linear;
  color: white;
  
  will-change: transform;

  
  span {
    transition: --offset 0.5s cubic-bezier(0.33,1,0.68,1);
    font-family: Masonic;
    opacity: var(--brightness);
    padding-top:0px;
    margin-top:0px;
    /* background-color: blue; */
    will-change: transform;
    backface-visibility: visible;
    inset: -1em;
    display: grid;
    place-items: center;
    font-weight: 700;
    user-select: none;
    transform:
      
      translateY(calc((var(--i) - var(--offset)) * -0.025em))
      rotateY(calc(var(--i) * 7deg)) /* letter spacing */
      /* spiral radius */
      translateZ(calc(1 * 5em))
      /* char rotate */
      rotateZ(-2deg);
  }
}

@keyframes texts {
  from { transform: rotateZ(0deg) rotateX(00deg) rotateZ(360deg); }
  to { transform: rotateZ(360deg) rotateX(00deg) rotateZ(0deg); }
}

@keyframes text {
  to { rotate: y -1turn; }
}

@keyframes offset-scroll{
  from { --offset: 0; }
  to   { --offset: 100;}
}