* {
    color: #3F353E;
    font-family: "Ubuntu", ubuntu-regular;
    text-align: center;
    margin-top:auto;
}

h1 {
    padding-top: 70px;
}

#remark {
    padding: 100px
}
#grad {
    background-image: linear-gradient(to bottom, #C4A8DF, #A0E2ED)
}

.name {
    position:absolute;
    bottom: 180px;
    padding:auto;
    text-align:center;
    z-index: -1;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
